* {
  font-family: 'Work Sans', sans-serif;
}

html {
  font-size: 14px;
}

.header {
  font-size: 2rem;
  font-weight: bold;
}

img {
  border-radius: 60%;
}

.materia {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 1em 0;
}

.materia__coordinador {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 200px;
}

.materia__contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 800px;
}

.materia__coordinador--nombre {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
  color: rgb(52, 50, 50);
}

.materia__contenido--titulo {
  font-size: 1.2em;
}

.contenedor__cuadrado {
  display: flex;
  margin-top: 2rem;
  gap: 5px;
  height: 180px;
  flex-wrap: wrap;
}

.cuadrado {
  background-color: coral;
  height: 100px;
  width: 100px;
  padding: 1em;
  flex: 0 0 auto;
}

.especial {
  align-self: flex-end;
}

